<div class="row mt-5">
    <div class="col-lg-5 offset-lg-4">
        <div class="card border-danger mb-3" style="max-width: 40rem;">
          <div class="card-header text-center">Agregar Empresa</div>
          <div class="card-body">
            <form [formGroup]="formEmpresa" (ngSubmit)="addEnterPrise()">
                <input formControlName="created_byC" type="text" class="form-control mt-2" placeholder="Tu nombre">
                <span *ngIf="formEmpresa.get('created_byC')?.hasError('required') && formEmpresa.get('created_byC')?.touched">
                    Campo creado por es obligatorio
                </span>
                <input formControlName="enterpriseNameC" type="text" class="form-control mt-2" placeholder="Nombre Empresa">
                <span *ngIf="formEmpresa.get('enterpriseNameC')?.hasError('required') && formEmpresa.get('enterpriseNameC')?.touched">
                    Campo nombre de empresa es obligatorio
                </span>
                <input formControlName="phoneC" type="text" class="form-control mt-2" placeholder="Teléfono">
                <span *ngIf="formEmpresa.get('phoneC')?.hasError('required') && formEmpresa.get('phoneC')?.touched">
                    Campo teléfono por es obligatorio
                </span>
                <div class="row mt-2 text-center">
                    <div class="col-lg-6">
                        <button [disabled]="formEmpresa.invalid" type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    <div class="col-lg-6">
                        <button routerLink="/see-enterprise" type="button" class="btn btn-secondary">Cancelar</button>
                    </div>
                </div>
            </form>

          </div>
        </div>

    </div>
</div>
    
  